@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');

*{
    margin: 0px;
    padding: 0px;
    font-family: 'Noto Sans', sans-serif;
}
a{
    text-decoration: none;
    color: black;
}

menu{
    background-color: #06820b;
    height: 70px;
    width: 100%;
}
.menu-logado-content{
    display: flex;
    width: 85%;
    height: 100%;
    margin: auto;
    align-items: center;

}
.menu-logado-btn-title{
    display: flex;
    font-size: 25px;
    font-weight: 600;
    gap: 5px;
    border-bottom: yellow solid 3px;
}
.menu-logado-btn-title-jd a{
    color: yellow;
}
.menu-nao-logado-btns-content{
    display: flex;
    font-size: 20px;
    font-weight: 600;
    margin-left: auto;
    gap: 50px;
}
.menu-nao-logado-cadastrar-btn{
    border-bottom: yellow solid 3px;
}
.menu-nao-logado-cadastrar-btn a :hover{
    color: yellow;
}
.menu-nao-logado-logar-btn{
    border-bottom: yellow solid 3px;
}
.menu-nao-logado-logar-btn a :hover{
    color: yellow;
}
